/* 3rd party packages */
@import "normalize.css";

@import "modules/consultation";

// general styling
@import "modules/error-modal";
// header
@import "modules/header/popup-cart";
@import "modules/header/header";
@import "modules/footer";
@import "modules/front-page";
@import "modules/our-services";
@import "modules/blog";
@import "modules/shop-by-brand";
@import "modules/free-e-book";
@import "modules/about-us";
@import "modules/loader";

// design boards
@import "modules/design-boards/design-boards";
// /*pages */

@import "modules/page";

// /*slider */
@import "modules/slider";

/*footer*/
@import "modules/contact";

/* woocommerce form css */
@import "modules/woocommerce/single-product/enquire-form";
@import "modules/woocommerce/single-product/image";
@import "modules/woocommerce/single-product/product-summary";
@import "modules/woocommerce/single-product/related-products";
@import "modules/woocommerce/single-product/wallpaper-calculator";

@import "modules/woocommerce/product-archive/facet-filter";
@import "modules/woocommerce/product-archive/product-archive";
@import "modules/woocommerce/cart/cart";
@import "modules/woocommerce/checkout/checkout";

@import "modules/woocommerce/wishlist/wishlist";

// /* modal css  */
@import "modules/modal/modal";

// notice css
@import "modules/notice/notice";

@import "modules/inspiry-specials";

/* customer service css  */
@import "modules/customer-service/customer-service";
@import "modules/customer-service/form";

// /* account css */
@import "modules/account/login";
@import "modules/account/create-account";

// /*geo directroy styling*/
// /*
// @import "modules/trade-directory/single-board";
// @import "modules/trade-directory/board-archive-page"; */
// @import "modules/trade-directory/save-baord";
@import "modules/trade/inspiry-trade.scss";
/* Chrome, Safari, Edge, Opera */
:root {
  --letterSpacing: 0.04rem;
  --offWhite: rgb(242, 242, 242);
  --beige: rgb(247, 246, 242);
  --darkBeige: rgb(253, 230, 206);
  --lightGrey: #dfdfdf;
  --blue: #007272;
  --green: #1fac75;
  --orange: #ff9d00;
  --lightOrange: #faf4e7;
  --grey: #636363;
  --darkGrey: #474747;
  --black: #303030;
  --openSans: "Open Sans", sans-serif;
  --playfairDisplay: "Playfair Display", serif;
  --transition: 500ms ease-in-out;
  --boxShadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  --cardBorderRadius: 16px;
  --red: #e60023;
  --errorRed: #f65656;
  --white: rgb(255, 255, 255);
  /* new styling  */
  --mediumSize: 1rem;
  --paragraphSize: 0.8rem;
  --columnSize: 1.3rem;
  --sectionSize: 1.5rem;
  --rowSize: 1.9rem;

  /* font weight */
  --thin: 200;
  --regular: 400;
  --light: 300;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --blackWeight: 900;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #0b0b0b;
  font-family: var(--openSans);
  scroll-behavior: smooth;
  line-height: 150%;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
}
h3 {
  font-family: var(--openSans) !important;
}
h1 {
  margin: 0 !important;
}
/*flex container*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.underline-bg {
  border-bottom: solid 1px #e1e1e1;
}

.underline-dg {
  border-bottom: solid 1px #474747;
}

.heading-line-through {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

.heading-line-through .large-font-size {
  background-color: white;
  padding: 20px 20px;
  position: absolute;
  left: 50%;
  top: -65px;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.row-container {
  width: 97%;
  max-width: 1600px;
  margin: 0 auto;
}
#main {
  width: 97%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding: 50px 0;
  @media (max-width: 1100px) {
    padding: 20px 0;
  }
}

.full-width-paragraph-container {
  max-width: 900px;
  margin: 0 auto;
}

.white-bc {
  background-color: white;
}

.row-padding {
  padding: 10px 20px;
}

.text-padding {
  padding: 0 10px;
}

/*global margin*/
.margin-ten {
  margin: 10px !important;
}
.margin-elements {
  margin: 20px auto !important;
}
.margin-bottom {
  margin-bottom: 40px;
}
.margin-row {
  margin-top: 40px;
}
.margin-large-row {
  margin: 100px 0;
}
@media (max-width: 600px) {
  .margin-large-row {
    margin: 50px 0;
  }
}

.small-margin-bottom {
  margin-bottom: 10px;
}
.margin-top {
  margin-top: 10px !important;
}

/*fonts------*/

/*alignment*/

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}
.italic {
  font-style: italic;
}
/*font size*/
.large-font-size {
  font-size: 60px;
  margin-top: 40px;
  text-transform: capitalize !important;
}

.section-font-size {
  font-size: 35px !important;
  text-transform: uppercase !important;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.paragraph-font-size {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-weight: 300;
}

.medium-font-size {
  font-size: 18px;
  letter-spacing: 0.03em !important;
  margin: 0;
  line-height: 1.5em;
  font-weight: 300;
}

.column-font-size {
  font-size: 25px;
  letter-spacing: 0.05em;
  margin-right: 10px;
}

@media (max-width: 830px) {
  .large-font-size {
    font-size: 40px;
  }
}

/*font weight*/

.black {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.light {
  font-weight: 100;
}

.playfair-fonts {
  font-family: "Playfair Display", serif;
}

.poppins-font {
  font-family: var(--openSans);
}
/* CAPITALIZE  */
.upper-case {
  text-transform: uppercase !important;
}
/* letter spacing */

.text-decoration-none {
  text-decoration: none;
}
/* new buttons */
.primary-button {
  line-height: 1.3em;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  font-weight: var(--regular);
  border-radius: 0 !important;
  border: 1px solid var(--black);
  background: var(--black);
  color: white !important;
  text-transform: uppercase;
  font-size: var(--paragraphSize);
  letter-spacing: 0.05rem;
  text-decoration: none;
}
.secondary-button {
  line-height: 1.3em;
  padding: 10px 30px 10px 30px;
  border: 1px solid var(--black);
  cursor: pointer;
  font-weight: var(--regular);
  border-radius: 0 !important;
  background-color: white;
  color: var(--black);
  text-transform: uppercase;
  font-size: var(--paragraphSize);
  transition: var(--transition);
}
.secondary-button span {
  line-height: 1.3em;
  font-weight: var(--regular);
  color: var(--black);
  text-transform: uppercase;
  font-size: var(--paragraphSize) !important;
  transition: var(--transition);
}
.secondary-button:hover {
  background-color: var(--black);
  color: white;
}
.secondary-button:hover span {
  color: white !important;
}

/* colors*/

.white {
  color: white;
}

.dark-grey {
  color: #303030;
}

.light-grey {
  color: #b3b3b3 !important;
}

.dark-green {
  color: #303030;
}

.black-bc {
  background-color: black;
}

.beige-color-bc-lt {
  background-color: #f8f7f3;
}

.beige-color-bc {
  background-color: #efeae5;
}

.off-white-bc {
  background-color: #efefef;
}
.dark-grey-bc {
  background: #303030;
}

/*shadow */

.box-shadow {
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.2);
}

/*underlines */

.small-underline {
  width: 65px;
  height: 2px;
  background: #111;
  display: block;
  margin: 13px auto 0;
}

/* a link */

.rm-txt-dec {
  text-decoration: none;
  color: #303030;
}

.rm-txt-dec:link {
  text-decoration: none;
}

.rm-txt-dec:hover {
  text-decoration: none;
}

.add-txt-dec:hover {
  text-decoration: underline !important;
}

/*breadcrumbs*/

#breadcrumbs {
  color: #666666;
  text-decoration: none;
  font-family: var(--openSans);
  font-size: 14px;
  padding-bottom: 10px;
}

#breadcrumbs a {
  color: #666666;
  text-decoration: none;
  font-family: "Playfair Display", serif !important;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-bottom: 10px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

/*overlay*/
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100 !important;
  background: rgba(0, 0, 0, 0.9);
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  .fa-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: var(--white);
  }
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  i {
    position: fixed;
    font-size: 1.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.foreground-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    div {
      width: 35px;
      height: 35px;
      border: 3px solid var(--darkGrey);
      border-color: var(--darkGrey) transparent transparent transparent;
    }
  }
}

/*error and success messages*/

.error-bg {
  background: #f59c9c;
  color: #ba0505;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.error {
  color: #ba0505;
  margin: 10px 0 0 0;
  font-size: var(--paragraphSize);
  letter-spacing: 0.02em;
  font-weight: 500;
}

.success-bg {
  background: #d7fad0;
  color: var(--darkGrey);
}

.success {
  color: var(--darkGrey);
  margin: 10px 0 0 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.invisible {
  display: none;
}
/*close icons */

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #303030;
}
/* 
.fa-times:hover {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #525659;
} */

/*save button*/

.geodir-list-save-container .gd-badge {
  background-color: #fff !important;
  color: #303030 !important;
  border: solid #303030 !important;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  border-radius: 0;
}

.geodir-list-save-container .gd-badge:hover {
  background-color: #303030 !important;
  color: #fff !important;
  border: solid #303030 !important;
}

.gd-badge-meta-saved .gd-badge {
  background-color: #303030 !important;
  color: #fff !important;
  border: solid #303030 !important;
}

/*404 */

.not-found {
  padding: 20vh 0;
}

.not-found form {
  width: 100% !important;
  max-width: 500px;
  display: block !important;
  margin: 20px auto;
}

/* Shrink the lens to half size */

.magnify > .magnify-lens {
  width: 200px;
  height: 200px;
}

@media (max-width: 400px) {
  .magnify > .magnify-lens {
    width: 100px;
    height: 100px;
  }
}

/*tool tip */

.tooltips {
  padding: 3px 5px;
  width: 170px;
  background: white;
  height: auto;
  text-align: center;
  position: absolute;
  left: -55px;
  top: 50px;
  display: none;
  border-radius: 15px;
  z-index: 10000;
}

.card .tooltips {
  left: -115px;
}

@media (max-width: 900px) {
  .tooltips {
    display: none !important;
  }
}
/*bread crumb*/

#breadcrumbs a:hover {
  text-decoration: underline;
}
/*woocommerce button*/
.woo-btn-dk-green {
  display: block;
  color: #fff !important;
  font-family: sans-serif;
  width: 100% !important;
  padding: 10px 20px !important;
  border-radius: 0;
  font-weight: 600 !important;
  line-height: 1.6;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  opacity: 1;
  transition: all 0.15s ease-in-out !important;
  background-color: #303030 !important;
  letter-spacing: 1px !important;
  font-family: "playfair-display", serif !important;
}
.woo-btn-dk-green:hover {
  background: #4b4b4b !important;
}

/* getpaid error fix */
#getpaid-payment-modal .fa-times {
  display: none;
}

.footer-menu-row a {
  font-family: "Open Sans", sans-serif;
}

/* lightbox for design board */

/* close button */
.close-button {
  display: block;
  width: 100%;
  background: none;
  color: var(--darkGrey);
  border: 1px solid var(--darkGrey);
  margin: 10px 0;
  padding: 10px 0;
  font-size: 1rem;
  font-family: var(--playfairDisplay);
  text-transform: uppercase;
}

/* or element */
.or-element {
  width: 100%;
}
// button disabled
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

// old sheet

/*flex container*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-start {
  justify-content: flex-start;
}
.flex-center {
  justify-content: center;
}
.flex-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.underline-bg {
  border-bottom: solid 1px #e1e1e1;
}

.underline-dg {
  border-bottom: solid 1px #474747;
}

.heading-line-through {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

.heading-line-through .large-font-size {
  background-color: white;
  padding: 20px 20px;
  position: absolute;
  left: 50%;
  top: -65px;
  transform: translateX(-50%);
  text-transform: uppercase;
}

.body-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.row-container {
  width: 97%;

  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.full-width-paragraph-container {
  max-width: 900px;
  margin: 0 auto;
}

.white-bc {
  background-color: white;
}

.row-padding {
  padding: 10px 20px;
}

.text-padding {
  padding: 0 10px;
}

/*global margin*/

.margin-elements {
  margin: 20px auto !important;
}
.margin-bottom {
  margin-bottom: 40px;
}
.margin-row {
  margin-top: 40px;
}
.margin-large-row {
  margin: 100px 0;
}
@media (max-width: 600px) {
  .margin-large-row {
    margin: 50px 0;
  }
}

.small-margin-bottom {
  margin-bottom: 10px;
}
.margin-top {
  margin-top: 10px !important;
}

/*fonts------*/

/*alignment*/

.left-align {
  text-align: left;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

/*font size*/
.large-font-size {
  font-size: 60px;
  margin-top: 40px;
  text-transform: capitalize !important;
}

.section-font-size {
  font-size: 35px !important;
  text-transform: uppercase !important;
  font-weight: 500;
  letter-spacing: 0.08em;
}

.paragraph-font-size {
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}

.medium-font-size {
  font-size: 18px;
  letter-spacing: 0.03em !important;
  margin: 0 !important;
  line-height: 1.5em;
  font-weight: 300;
}

.column-font-size {
  font-size: 25px;
  letter-spacing: 0.05em;
  margin-right: 10px;
}

@media (max-width: 830px) {
  .large-font-size {
    font-size: 40px;
  }
}

/*font weight*/

.black {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 600;
}

.thin {
  font-weight: 300;
}

.light {
  font-weight: 100;
}

.playfair-fonts {
  font-family: "Playfair Display", serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif !important;
}
/* CAPITALIZE  */
.upper-case {
  text-transform: uppercase !important;
}
/* letter spacing */

.text-decoration-none {
  text-decoration: none;
}

.button {
  letter-spacing: 0.2em;
  line-height: 1.3em;
  padding: 10px 25px 10px 25px !important;
  border: 1px solid #303030;
  cursor: pointer;
  font-weight: 500 !important;
  border-radius: 0 !important;
}
.button:hover {
  border: 1px solid #0b0b0b;
}

.btn {
  width: 120px;
  height: 40px;
  margin: 0 10px 0 0;
  outline: none;
  border: 1px solid #303030;
  cursor: pointer;
  border-radius: 0 !important;
}
.btn-full-width {
  width: 100%;
  display: block;
}
.btn-dk-green-border {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid #303030 !important;
  color: #303030 !important;
}

.btn-dk-green-border:hover {
  background-color: #303030 !important;
  border: 1px solid #303030 !important;
  color: white !important;
}

.btn-dk-green-border i {
  color: #303030 !important;
}

.btn-dk-green-border:hover i {
  color: white !important;
}

.btn-dk-green {
  background-color: #303030 !important;
  color: white !important;
}

.btn-dk-green i {
  color: white !important;
}

.btn-dk-green:hover {
  background-color: #0b0b0b !important;
}

.btn-dk-green:hover i {
  background: #0b0b0b;
}

/* colors*/

.white {
  color: white;
}

.dark-grey {
  color: #303030;
}

.light-grey {
  color: #b3b3b3 !important;
}

.dark-green {
  color: #303030;
}

.black-bc {
  background-color: black;
}

.beige-color-bc-lt {
  background-color: #f8f7f3;
}

.beige-color-bc {
  background-color: #efeae5;
}

.off-white-bc {
  background-color: #efefef;
}
.dark-grey-bc {
  background: #303030;
}

/*shadow */

.box-shadow {
  box-shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.2);
}

/*underlines */

.small-underline {
  width: 65px;
  height: 2px;
  background: #111;
  display: block;
  margin: 13px auto 0;
}

/* a link */

.rm-txt-dec {
  text-decoration: none;
  color: #303030;
}

.rm-txt-dec:link {
  text-decoration: none;
}

.rm-txt-dec:hover {
  text-decoration: none;
}

.add-txt-dec:hover {
  text-decoration: underline !important;
}

/*breadcrumbs*/

#breadcrumbs {
  color: #666666;
  text-decoration: none;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  padding-bottom: 10px;
}

#breadcrumbs a {
  color: #666666;
  text-decoration: none;
  font-family: "Playfair Display", serif !important;
  font-size: 14px;
  letter-spacing: 0.02em;
  padding-bottom: 10px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

/*overlay*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  .loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    div {
      width: 35px;
      height: 35px;
      border: 3px solid var(--white);
      border-color: var(--white) transparent transparent transparent;
    }
  }
}

/*error and success messages*/

.error-bg {
  background: #f59c9c;
  color: #ba0505;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 0.02em;
}
.error {
  color: #ba0505;
  margin: 10px 0 0 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.success-bg {
  background: #d7fad0;
  color: #00d331;
}

.success {
  color: #00d331;
  margin: 10px 0 0 0;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.invisible {
  display: none;
}
/*close icons */

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #303030;
}

.fa-times:hover {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #525659;
}

/*save button*/

.geodir-list-save-container .gd-badge {
  background-color: #fff !important;
  color: #303030 !important;
  border: solid #303030 !important;
  transition: 0.3s ease-in-out;
  font-size: 16px;
  border-radius: 0;
}

.geodir-list-save-container .gd-badge:hover {
  background-color: #303030 !important;
  color: #fff !important;
  border: solid #303030 !important;
}

.gd-badge-meta-saved .gd-badge {
  background-color: #303030 !important;
  color: #fff !important;
  border: solid #303030 !important;
}

/*404 */
.not-found {
  padding: 20vh 0;
}

.not-found form {
  width: 100% !important;
  max-width: 500px;
  display: block !important;
  margin: 20px auto;
}

/* Shrink the lens to half size */

.magnify > .magnify-lens {
  width: 200px;
  height: 200px;
}

@media (max-width: 400px) {
  .magnify > .magnify-lens {
    width: 100px;
    height: 100px;
  }
}

/*tool tip */

.tooltips {
  padding: 3px 5px;
  width: 170px;
  background: white;
  height: auto;
  text-align: center;
  position: absolute;
  left: -55px;
  top: 50px;
  display: none;
  border-radius: 15px;
  z-index: 10000;
}

.card .tooltips {
  left: -115px;
}

@media (max-width: 900px) {
  .tooltips {
    display: none !important;
  }
}
/*bread crumb*/

#breadcrumbs a:hover {
  text-decoration: underline;
}
/*woocommerce button*/
.woo-btn-dk-green {
  display: block;
  color: #fff !important;
  font-family: sans-serif;
  width: 100% !important;
  padding: 10px 20px !important;
  border-radius: 0;
  font-weight: 600 !important;
  line-height: 1.6;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  opacity: 1;
  transition: all 0.15s ease-in-out !important;
  background-color: #303030 !important;
  letter-spacing: 1px !important;
  font-family: "playfair-display", serif !important;
}
.woo-btn-dk-green:hover {
  background: #4b4b4b !important;
}

/* getpaid error fix */
#getpaid-payment-modal .fa-times {
  display: none;
}

.footer-menu-row a {
  font-family: "Roboto", sans-serif;
}

/* lightbox for design board */
// disable button
button:disabled,
button[disabled] {
  background-color: var(--lightGrey) !important;
  border: 1px solid var(--darkGrey) !important;
  color: var(--white) !important;
  i {
    color: var(--white) !important;
  }
  &:hover {
    color: var(--white) !important;
  }
  &:hover i {
    color: var(--white) !important;
  }
}

// zendesk
#launcher {
  margin-right: 10px !important;
  bottom: 35px !important;
}

// loading icon
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 3px solid var(--darkGrey);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--darkGrey) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
