.desktop-header {
  .top-banner {
    @media (max-width: 1100px) {
      display: none;
    }
    .owl-dots {
      display: none;
    }
    .banner-container {
      // background-color: rgb(0, 0, 0);
      height: 35px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      .banner-card {
        .anchor {
          // color: white;
          font-size: var(--paragraphSize);
          text-align: center;
          text-decoration: none;
          font-weight: 200;
          display: block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .middle-section {
    @media (max-width: 1100px) {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 5px 0;
    .search-container {
      width: 500px;
      .search-code {
        position: relative;
        .search-bar {
          width: 283px;
          position: relative;
          @media (max-width: 900px) {
            display: flex;
            justify-content: space-between;
          }
          .search {
            position: absolute;
            cursor: pointer;
            right: 10px;
            top: 12px;
            z-index: 10;
          }
          .search-input {
            border: 1px solid var(--darkGrey);
            padding: 0 10px;
            height: 40px !important;
            min-width: 283px;
            font-size: var(--paragraphSize);
            &:focus {
              outline: var(--darkGrey) solid 1px;
            }
            @media (max-width: 900px) {
              border: none;
              border-right: 1px solid var(--darkGrey);
              width: 100% !important;
            }
          }
          .lds-ring {
            text-align: center !important;
            width: 10px;
            height: 10px;
            position: absolute;
            right: 60px;
            top: 0;
            display: none;
          }
        }
      }
      .result-div {
        display: none;
        min-width: 500px;
        width: 100%;
        left: 0;
        max-height: 400px;
        border: 5px solid var(--beige);
        position: absolute;
        z-index: 10000;
        background: white;
        overflow: scroll;
        padding: 10px 0;
        @media (max-width: 580px) {
          width: 90vw !important;
          right: 0;
          max-height: 400px;
          border: 5px solid var(--beige);
          position: absolute;
          z-index: 10000;
          background: white;
          overflow: scroll;
          min-width: 250px;
        }
        .search-list {
          li {
            a {
              padding: 10px 5px;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-start;
              border-bottom: 1px solid var(--beige);
              cursor: pointer;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                background: var(--beige);
              }
              img {
                width: 100px;
                height: 100px;
                margin-right: 10px;
              }
              span {
                font-size: var(--paragraphSize);
              }
            }
          }
        }
      }
    }
    .logo-container {
      width: 200px;
      height: 40px;
      a {
        margin: 0 auto;
        display: block;
        img {
          width: 200px;
          height: auto;
          margin: 0 auto;
          display: block;
        }
      }
    }
    .useful-links-container {
      width: 500px;
      display: flex;
      justify-content: flex-end;

      .container {
        margin: 0 0 0 50px;
        @media (max-width: 1200px) {
          margin: 0 0 0 30px;
        }
        i {
          color: var(--darkGrey);
          font-size: 1.2rem;
        }
        svg {
          color: var(--darkGrey);
          font-size: 1.2rem;
        }
      }
      .phone-container {
        cursor: pointer;
        position: relative;
        span {
          font-size: 0.9rem;
          color: var(--darkGrey);
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
        // modal styling
        .wd-phone-modal-container {
          top: 25px;
          left: 0;
          bottom: 0 !important;
          height: 210px;
          .title {
            color: var(--darkGrey);
          }
          .phone-number {
            color: var(--darkGrey);
            a {
              color: var(--darkGrey);
            }
          }
        }
      }
      .sign-in-container {
        position: relative;

        span {
          font-size: 0.9rem;
          color: var(--darkGrey);
          position: relative;
          top: -1px;
          margin-right: 5px;
        }
        cursor: pointer;
        .sign-in-modal {
          display: none;
          padding: 20px 20px 10px 20px;
          width: 270px;
          z-index: 100;
          position: absolute;
          background-color: var(--beige);
          border: 1px solid var(--lightGrey);
          .list {
            list-style: none;
            .list-item {
              .anchor {
                margin: 0 0 10px 0;
                display: block;
                text-decoration: none;
                i {
                  font-size: 1rem;
                }
                span {
                  font-size: var(--paragraphSize);
                  margin-left: 5px;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
      .design-board-icon-container {
        position: relative;
        cursor: pointer;
        .design-board-header-modal {
          display: none;
          padding: 20px 20px 10px 20px;
          width: 300px;
          z-index: 100;
          position: absolute;
          right: -50px;
          background-color: var(--white);
          border: 1px solid var(--lightGrey);
          .title {
            font-weight: var(--bold);
          }
          .image-container {
            margin: 10px 0 10px 10px;
            img {
              width: 250px;
            }
          }
          .list {
            margin-left: 10px;
            .item {
              list-style: none;
              font-size: var(--paragraphSize);
              margin-top: 5px;
              span {
                font-weight: var(--bold);
              }
            }
          }
          .anchor {
            font-size: var(--paragraphSize);
            text-decoration: none;
            line-height: 1rem !important;
            span {
              text-decoration: underline;
            }
          }
          .secondary-button {
            margin-top: 10px;
            display: block;
            text-align: center;
            text-decoration: none;
          }
        }
      }

      .cart-container {
        cursor: pointer;
        span {
          font-size: 0.9rem;
          color: var(--darkGrey);
          position: relative;
          top: -1px;
          margin-left: 5px;
        }
      }
    }
  }
  .top-navbar-section {
    @media (max-width: 1100px) {
      display: none;
    }
    .navbar {
      #mega-menu-top-navbar {
        .mega-menu-item {
          margin: 0 30px !important;
          display: none;
          a {
            font-weight: var(--light) !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
  .main-navbar-section {
    @media (max-width: 1100px) {
      display: none;
    }
    border: 1px solid var(--lightGrey);

    .navbar {
      border-left: 0;
      border-right: 0;
      #mega-menu-inspiry_main_menu {
        display: flex !important;
        justify-content: space-between !important;
        .mega-menu-item {
          // margin: 0 1.5% !important;
          a {
            display: none;
            padding: 0 !important;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }
  }
}

// mobile header
.mobile-header {
  display: none;
  @media (max-width: 1100px) {
    display: block;
  }
  .top-banner {
    .owl-dots {
      display: none;
    }
    .owl-nav {
      display: none;
    }
    .banner-container {
      background-color: rgb(0, 0, 0);
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 10px;

      .banner-card {
        .anchor {
          color: white;
          font-size: var(--paragraphSize);
          text-align: center;
          text-decoration: none;
          font-weight: 200;
          display: block;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .fixed-nav-container {
    .mobile-nav-overlay {
      width: 100%;
      height: 500vh;
      position: absolute;
      display: none;
      top: 91px;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.7);
    }
    .main-navbar-section {
      position: relative;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 100;

      .navbar {
        width: 100px;
        #mega-menu-inspiry_main_menu {
          width: 100% !important;
          position: fixed !important;
          overflow: scroll !important;
          height: 87vh !important;
          left: 0 !important;
          padding: 0 10px !important;
        }
        .mega-menu-toggle {
          width: 40px;
          .mega-toggle-block {
            margin: 0 0 0 -5px !important;
            .mega-toggle-animated-inner {
              background-color: var(--black) !important;
              &::after {
                background-color: var(--black) !important;
              }
              &::before {
                background-color: var(--black) !important;
              }
            }
          }
        }
        //  mobile menu styling
        #mega-menu-inspiry_main_menu_mobile {
          max-width: 350px !important;
          padding: 0 !important;

          li {
            // background-color: var(--black) !important;

            border-top: 1px solid var(--lightGrey) !important;
            & > .mega-sub-menu > li > a {
              padding-left: 20px !important;
            }
            & > .mega-sub-menu > li > .mega-sub-menu a {
              padding-left: 30px !important;
            }
          }
          .mega-toggle-on {
            // background-color: var(--black) !important;
          }
        }
        #mega-menu-inspiry_main_menu {
          .mega-menu-item {
            // margin: 0 1.5% !important;
            a {
              display: none;
              padding: 0 !important;
            }
          }
        }
      }
      .logo-container {
        position: relative;
        width: 150px;
        z-index: 100;
        @media (max-width: 400px) {
          width: 100px;
        }
        a {
          margin: 0 auto;
          display: block;
          img {
            width: 150px;
            height: auto;
            margin: 0 auto;
            display: block;
            @media (max-width: 400px) {
              width: 100px;
            }
          }
        }
      }
      .useful-links-container {
        display: flex;
        justify-content: flex-end;
        width: 100px;

        .container {
          &:last-child {
            margin: 0 0 0 20px;
          }

          i {
            color: var(--darkGrey);
            font-size: 1.2rem;
          }
        }
        .sign-in-container {
          position: relative;
          span {
            font-size: 0.9rem;
            color: var(--darkGrey);
            position: relative;
            top: -1px;
            margin-right: 5px;
          }
          cursor: pointer;
          .sign-in-modal {
            display: none;
            padding: 20px 20px 10px 20px;
            width: 270px;
            z-index: 100;
            right: 0;
            position: absolute;
            background-color: var(--white);
            border: 1px solid var(--lightGrey);
            .list {
              list-style: none;
              .list-item {
                .anchor {
                  margin: 0 0 10px 0;
                  display: block;
                  text-decoration: none;
                  i {
                    font-size: 1rem;
                  }
                  span {
                    font-size: var(--paragraphSize);
                    margin-left: 5px;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
        }
        .cart-container {
          cursor: pointer;
          span {
            font-size: 0.9rem;
            color: var(--darkGrey);
            position: relative;
            top: -1px;
            margin-left: 0;
          }
        }
      }
    }
  }
  .fixed-nav-active {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: white;
    z-index: 1000;
  }

  .search-container {
    background-color: var(--beige);
    padding: 10px 0;
    .search-code {
      background-color: white;

      position: relative;
      .search-bar {
        width: 100%;

        position: relative;
        @media (max-width: 1100px) {
          display: flex;
          justify-content: space-between;
        }
        .search {
          position: absolute;
          cursor: pointer;
          right: 10px;
          top: 12px;
          z-index: 10;
        }

        .search-input {
          border: 1px solid var(--darkGrey);
          padding: 0 10px;
          height: 40px !important;
          min-width: 283px;
          font-size: var(--paragraphSize);
          &:focus {
            outline: var(--darkGrey) solid 1px;
          }

          @media (max-width: 1100px) {
            width: 100% !important;
          }
        }
        .lds-ring {
          text-align: center !important;
          width: 10px;
          height: 10px;
          position: absolute;
          right: 60px;
          top: 0;
          display: none;
        }
      }
    }
    .result-div {
      display: none;
      min-width: 500px;
      width: 100%;
      left: 0;
      max-height: 400px;
      border: 5px solid var(--beige);
      position: absolute;
      z-index: 10000;
      background: white;
      overflow: scroll;
      padding: 10px 0;
      @media (max-width: 580px) {
        width: 90vw !important;
        right: 0;
        max-height: 400px;
        border: 5px solid var(--beige);
        position: absolute;
        z-index: 10000;
        background: white;
        overflow: scroll;
        min-width: 250px;
      }
      .search-list {
        li {
          a {
            padding: 10px 5px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            border-bottom: 1px solid var(--beige);
            cursor: pointer;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              background: var(--beige);
            }
            img {
              width: 50px;
              height: 50px;
              margin-right: 10px;
            }
            span {
              font-size: var(--paragraphSize);
            }
          }
        }
      }
    }
  }
}

// add custom icon for max mega menu

li.mega-menu-item-has-children > a.mega-menu-link > span.mega-indicator:after {
  font-family: inherit !important;
  border-style: solid !important;
  border-width: 0.1rem 0.1rem 0 0 !important;
  content: "" !important;
  display: inline-block !important;
  height: 7px !important;
  left: 2px !important;
  position: relative !important;
  top: 14px !important;
  transform: rotate(135deg) !important;
  vertical-align: top;
  width: 7px !important;
  @media (min-width: 1100px) {
    display: none !important;
  }
}

li.mega-menu-item-has-children.mega-toggle-on
  > a.mega-menu-link
  > span.mega-indicator:after {
  transform: rotate(-45deg) !important;
  top: 20px !important;
  @media (min-width: 1100px) {
    display: none;
  }
}
