.single-product {
  .trending-section {
    height: calc(600px - 20%);
    margin-top: 80px;
    // @media (max-width: 1600px) {
    //   height: 550px;
    // }
    // @media (max-width: 1400px) {
    //   height: 500px;
    // }
    // @media (max-width: 1200px) {
    //   height: 450px;
    // }
    // @media (max-width: 1100px) {
    //   height: 420px;
    // }
    // @media (max-width: 950px) {
    //   height: 370px;
    // }
    // @media (max-width: 800px) {
    //   height: 800px;
    // }
    // @media (max-width: 700px) {
    //   height: 720px;
    // }
    // @media (max-width: 600px) {
    //   height: 620px;
    // }
    // @media (max-width: 500px) {
    //   height: 530px;
    // }
    // @media (max-width: 450px) {
    //   height: 500px;
    // }
    // @media (max-width: 400px) {
    //   height: 450px;
    // }
    .title {
      font-size: var(--mediumSize);
      font-weight: var(--medium);
      color: var(--darkGrey);
    }
    .related-product-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;

      .owl-item {
        border: 1px solid var(--lightGrey) !important;
        padding: 10px 10px 10px 10px;
      }
      .owl-dots {
        padding: 0;
        margin: 0 auto;
      }
      .owl-nav {
        span {
          font-size: 2rem;
          color: var(--white);
          font-weight: 300;
          position: relative;
          top: -5px;
        }
      }
      .card {
        text-decoration: none !important;
        .image-container {
          img {
            width: 100%;
            height: 100%;
          }
        }

        h5 {
          font-size: var(--paragraphSize);
          font-weight: var(--regular);
          letter-spacing: 0.03rem;
          margin-top: 5px;
        }
        h6 {
          font-size: var(--mediumSize) !important;
          font-weight: var(--medium) !important;
        }
      }
    }
    .owl-nav {
      button {
        width: 40px;
        height: 40px;
        background-color: var(--black) !important;
        i {
          color: white;
          font-weight: var(--light) !important;
        }
      }
      button:nth-child(1) {
        left: -10px !important;
      }
      button:nth-child(2) {
        right: -10px !important;
      }
    }
  }
  // related categories
  .related-categories-section {
    margin-top: 80px;

    @media (max-width: 500px) {
      margin-top: 50px;
    }
    .title {
      font-size: var(--mediumSize);
      font-weight: var(--medium);
      color: var(--darkGrey);
    }
    .flex {
      display: flex;
      margin-top: 20px;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        border: 1px solid var(--beige);
        transition: var(--transition);
        padding: 5px 30px;
        margin: 0 20px 20px 0;
        background-color: var(--beige);
        &:hover {
          background-color: var(--black);
          color: var(--white);
          border: 1px solid var(--black);
        }
      }
    }
  }
}

// recently viewed
.single-product {
  .recently-viewed-section {
    height: calc(600px - 20%);
    margin-top: 60px;
    @media (max-width: 500px) {
      margin-top: 50px;
    }
    .title {
      font-size: var(--mediumSize);
      font-weight: var(--medium);
      color: var(--darkGrey);
    }
    .recently-viewed-products {
      display: flex;
      justify-content: flex-start;
      margin-top: 20px;
      @media (max-width: 730px) {
        flex-wrap: wrap;
      }
      .owl-item {
        border: 1px solid var(--lightGrey) !important;
        padding: 10px 10px 0 10px;
      }
      .owl-nav {
        span {
          font-size: 2rem;
          color: var(--white);
          font-weight: 300;
          position: relative;
          top: -5px;
        }
      }
      .owl-dots {
        padding: 0;
        margin: 0 auto;
      }
      .card {
        text-decoration: none !important;
        margin: 0 20px 0 0;
        padding: 0;

        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
          @media (min-width: 1400px) {
            height: 400px;
          }
          @media (max-width: 400px) {
            height: 250px;
          }
        }

        h5 {
          margin-top: 5px;
          font-size: var(--paragraphSize);
          font-weight: var(--regular);
          letter-spacing: 0.03rem;
        }
        h6 {
          font-size: var(--mediumSize) !important;
          font-weight: var(--medium) !important;
        }
      }
    }
    .owl-nav {
      button {
        width: 40px;
        height: 40px;
        background-color: var(--black) !important;
        i {
          color: white;
          font-weight: var(--light) !important;
        }
      }
      button:nth-child(1) {
        left: -10px !important;
      }
      button:nth-child(2) {
        right: -10px !important;
      }
    }
  }
}

// owl nav
.single-product {
  .owl-prev {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
